/* Estilo personalizado para el input password con :focus */
.form-control-success:focus {
    border-color: #28a745;
    /* Cambia el color del borde a verde */
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    /* Agrega un efecto de sombra */
}

.form-control-warning:focus {
    border-color: #ffc107;
    /* Cambia el color del borde a amarillo (warning) */
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
    /* Agrega un efecto de sombra */
}

